<button id="close-menu" class="btn btn asd" onclick="closeSidebar()">❌</button>
<h4>Навигация</h4>
<hr class="my-4" />

<a href="./index.html" class="nav-link">🏠 Главная</a>
<div class="dropdown">
  <a href="./services.html" class="nav-link" id="services-link">🛠 Услуги</a>

  <!-- Выпадающее меню -->
  <div class="dropdown-menu" id="services-menu">
    <a href="cons.html" class="dropdown-item">Консультация врача</a>
    <a href="ambulatory-surgery.html" class="dropdown-item">Амбулаторная хирургия</a>
    <a href="laboratory-tests.html" class="dropdown-item">Лабораторные анализы</a>
    <a href="surgical-intervention.html" class="dropdown-item">Хирургическое вмешательство</a>
  </div>
</div>

<a href="./doctors.html" class="nav-link">👓 Врачи</a>
<a href="./contact.html" class="nav-link">📩 Контакты</a>
<a href="./form.html" class="nav-link"><3 Записаться на прием</a>
<hr class="my-4" />


<!-- Форма записи на прием -->
